fastapi
uvicorn
python-multipart
pypdf
langchain-google-genai
langchain-chroma
langchain-core
langchain-text-splitters
requests
python-dotenv
langchain-huggingface
sentence-transformers
pandas
tqdm
pydantic